#container {
    display: flex;
    margin-bottom: 2vmin;
  }
  
  .box1 {
    height: 18vmax;
    width: 100%;
    border-radius: 10%;
  }
  
  .box2 {
    background-color: palegoldenrod;
    height: 18vmax;
    width: 100%;
    margin-left: 0.5em;
    border-radius: 10%;
  }
  
  .box3 {
    background-color: palegreen;
    height: 18vmax;
    width: 100%;
    margin-left: 0.5em;
    border-radius: 10%;
  }
  
  .box4 {
    background-color: palevioletred;
    height: 10vmax;
    width: 20%;
    border-radius: 10%;
  }
  
  .box5 {
    background-color: peru;
    height: 10vmax;
    width: 20%;
    border-radius: 10%;
    margin-left: 0.5em;
  }
  
  .box6 {
    background-color: plum;
    height: 10vmax;
    width: 20%;
    border-radius: 10%;
    margin-left: 0.5em;
  }
  
  .box7 {
    background-color: powderblue;
    height: 10vmax;
    width: 20%;
    border-radius: 10%;
    margin-left: 0.5em;
  }
  
  .box8 {
    background-color: purple;
    height: 10vmax;
    width: 20%;
    border-radius: 10%;
    margin-left: 0.5em;
  }
  
  img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
  }